<form [formGroup]="registerForm" (submit)="create()">

  <label>E-mail</label>
  <input type="text" formControlName="username"/>
  <app-error [customMessages]="{'required': 'Username must be provided'}"
             [control]="registerForm.controls.username"></app-error>

  <br/>
  <label>Password</label>
  <input type="password" formControlName="password"/>
  <app-error [control]="registerForm.controls.password"></app-error>

  <br/>
  <button type="submit" [disabled]="registerForm.invalid">Register</button>

</form>
