<form [formGroup]="loginForm" (submit)="login()">

  <label>Username</label>
  <input type="text" formControlName="username"/>
  <app-error [customMessages]="{'required': 'Username must be provided'}"
             [control]="loginForm.controls.username"></app-error>

  <br/>
  <label>Password</label>
  <input type="password" formControlName="password"/>
  <app-error [control]="loginForm.controls.password"></app-error>

  <br/>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  <a routerLink="/login/register">Register</a>

</form>
