<form [formGroup]="input" (submit)="add()">
  <input type="text" formControlName="url"/>
  <button type="submit" [disabled]="input.invalid">Add</button>
</form>

<div *ngFor="let link of items">
  <img [src]="link.url" />
</div>
